.bg {
    .Category {
        text-align: center;
        padding-top: 50px;
        font-size: 24px;
        color: darkolivegreen;
    }

    .physical {
        border: 1px rebeccapurple solid;
        text-align: center;
        margin-top: 60px;
        background-color: lightcoral;
        margin-left: 60px;
        margin-right: 60px;
        padding-top: 20px;
        padding-bottom: 20px;
        border-radius: 30px;
    }
}